
  .pan-card {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .pan-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .pan-card-logo {
    height: 100%;
  }
  
  .pan-card-logo img {
    height: 100%;
  }
  
  .pan-card-number {
    font-size: 18px;
    font-weight: bold;
  }
  
  .pan-card-field {
    display: flex;
    margin-bottom: 10px;
  }
  
  .pan-card-field-label {
    font-size: 16px;
    font-weight: bold;
    width: 150px;
  }
  
  .pan-card-field-value {
    font-size: 16px;
    margin-left: 10px;
  }
  #logo{
    width: 70px;
    height: 50px;
  }